body {
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    align-items: center;
}

h1 {
    text-align: center;
    color: antiquewhite;
}

div {
    color: #658ec6;
    font-weight: 500;
    background: linear-gradient(to right bottom, rgba(225,255,255,0.8));
    color: wheat;
  
}
ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: 25px;
    color: wheat;

}

p {
    border-style: solid;
    border-width: 5px;
    padding: 25px;

}